$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

/* === Imports === */
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@import "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";

/* === Grid === */
@import 'breakpoints';
@import 'grid';

/* === Helpers === */
*             { transition: all .15s ease-in-out; }
.upcase       { text-transform: uppercase; }
.inline-block { display:inline-block; }
.fa           { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; }

/* === Variables === */
$defaultSpeed: .5s;
$defaultEase: ease-in-out;
a, a:hover{
    color: #000;
    text-decoration: none;
    .content &{
        text-decoration: underline;
    }
}
.nav-active-item{
    color: white; 
    text-decoration: none;
    background: $gray;
    text-transform: uppercase;
}

/* === Header === */
header.masthead{
    background: #ddd;
    padding: 5px 0;

    .page-title{ clear: both; }
    
    nav{
        & > ul{
            list-style: none;
            padding: 0;
            display: flex;

            & > li{
                background: #eee;
                margin-left: 1px;
                text-align: center;
                border-left: 0px;
                display: flex;
                
                &:first-child{
                    margin-left: 0;
                }
                &.active a, &.active:hover a{
                    background: $gray;
                    color: #ccc;
                }
                a{
                    display: block;
                    padding: 5px 0;
                    width: 100%;
                    align-self: center;
                    text-align: center;
                    color: #000;
                    height: 100%;

                    &:hover{
                        background: white;
                    }
                }
            }
        } 
    }
}
// .nav {
//     ul{ display: block; }
//     li{
//         a{  position: relative; }
//         &.nav-item-level5{
//             @extend .nav-active-item;
//             a{
//                 text-transform: uppercase;
                
//                 &:before{
//                     @extend .fa;
//                     content: '\f100\f104';
//                     position: absolute;
//                     letter-spacing: -.15rem;
//                     margin-left: -15px;
//                     margin-top: 2px;
//                 }
//             }
//         }
//         &.nav-item-level4{
//             @extend .nav-active-item;
//             a{
//                 text-transform: uppercase;
                
//                 &:before{
//                     @extend .fa;
//                     content: '\f100';
//                     position: absolute;
//                     margin-left: -12px;
//                     margin-top: 2px;
//                 }
//             }
//         }
//         &.nav-item-level3{
//             @extend .nav-active-item; 
//             a{
//                 text-transform: uppercase;

//                 &:before{
//                     @extend .fa;
//                     content: '\f104';
//                     position: absolute;
//                     margin-left: -10px;
//                     margin-top: 2px;
//                 }
//             }
//         }
//         &.nav-item-level2{
//             @extend .nav-active-item;
//             a{
//                 text-transform: uppercase;
//                 color: white;
//             }
//         }
//         &.nav-item-level1{
//             background: lighten($gray, 25%);
//             a{
//                 text-transform: uppercase;
//                 background: transparent;
//                 color: white;
//             }
//         }
//         &:first-child, &:first-child > a{
//             border-radius: 5px 5px 0 0;
//         }
//         &:last-child, &:last-child > a{
//             border-radius: 0 0 5px 5px;
//         }
//     }
// }


aside .nav {
    ul{ display: block; }
    li{

        & > a{ 
            position: relative; 
            text-transform: none;
            
            &.nav-item-level5{
                text-transform: uppercase;
                @extend .nav-active-item;
                
                    
                &:before{
                    @extend .fa;
                    content: '\f100\f104';
                    position: absolute;
                    letter-spacing: -.15rem;
                    margin-left: -15px;
                    margin-top: 2px;
                }
            
            }
            &.nav-item-level4{
                text-transform: uppercase;
                @extend .nav-active-item;
                    
                &:before{
                    @extend .fa;
                    content: '\f100';
                    position: absolute;
                    margin-left: -12px;
                    margin-top: 2px;
                }
            
            }
            &.nav-item-level3{
                text-transform: uppercase;
                @extend .nav-active-item; 

                &:before{
                    @extend .fa;
                    content: '\f104';
                    position: absolute;
                    margin-left: -10px;
                    margin-top: 2px;
                }
            }
            &.nav-item-level2{
                text-transform: uppercase;
                @extend .nav-active-item;
                color: white;
            }
            &.nav-item-level1{
                text-transform: uppercase;
                background: lighten($gray, 25%);
                color: white;
            }
        }
        &:first-child, &:first-child > a{
            border-radius: 5px 5px 0 0;
        }
        &:last-child, &:last-child > a{
            border-radius: 0 0 5px 5px;
        }
    }
}



/* === Dropdown == */
.dropdown-menu{
    .Grid-cell{
        .nav{
            li{

                margin: 5px 0;
                &:last-child{
                    margin: 0;
                }
                a{
                    background: #fefefe;
                    text-align: left;
                    text-transform: none; 
                    padding: 0 3px;  
                }    
            }

        }
        
    }
}
.breadcrumb{
    li{
        position: relative;
        z-index: 5;
        background: $breadcrumb-bg;        
    }

}

/* === Search == */
.inline-search{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    input[type="text"]{
        padding: 6px 12px;
        border-radius: $border-radius-base;
    }
    .btn-search{
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 6px 12px;

        border-radius: 0 $border-radius-base $border-radius-base 0;
    }
}

/* === Content === */
.container-fluid,.container{
    max-width: $container-large-desktop;
}
.main-body{
    margin: 20px 0;
}
aside{

    .nav{
        a{
            $bg: #efefef;
            background: $bg;
            margin-bottom:1px; 
            padding-left: 20px;
            padding-right: 20px;
            color: #000;
            &:hover{
                // background: darken($bg, 5%);
            }   
        }
        
    }
}

article{
    .content{
        border: 1px solid $gray;
        background: #f9f9f9;
        padding: 0 20px 10px;
    }
}

