$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

/* === Imports === */
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "../bower_components/font-awesome/scss/font-awesome.scss";
// @import url(http://fonts.googleapis.com/css?family=PT+Sans);

/* === Grid === */
@import 'breakpoints';
@import 'grid'; 

/* === Helpers === */
*             { transition: all .15s ease-in-out; }
body          { font-weight: 400; font-family: "PT Sans";}
img           { width: 100%; max-width: auto; height: auto; }
.upcase       { text-transform: uppercase; }
.inline-block { display:inline-block; }
.fa           { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; }
.nav-active-item
              { color: white;text-decoration: none;background: $gray;text-transform: uppercase;letter-spacing: 1px;text-shadow: none; }

.ellipsis {
    aside &{
        &:after{
            @extend .fa;
            content: "\f141";
            float: right;
            font-size: 150%;
            color: rgba(0,0,0,0.15);
            text-shadow: 0px 1px #fff;
        }    
    }
}
.arrow-up{
    $size: 5px;
    &:after, &:before{
        bottom: 100%;
        left: 25px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:after{
        border-color: rgba(85, 85, 85, 0);
        border-bottom-color: #555555;
        border-width: $size;
        margin-left: -$size;
    }
    &:before{
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: $size+1;
        margin-left: -($size+1);
    }
}


/* === Variables === */
$defaultSpeed: .5s;
$defaultEase: ease-in-out;
a, a:hover{
    color: #000;
    text-decoration: none;
    .content &{
        text-decoration: underline;
    }
}



/* === Header === */
header.masthead{
    background: #ddd;
    padding: 5px 0;

    .page-title{ clear: both; }
    
    nav{
        & > ul{
            list-style: none;
            padding: 0;
            display: flex;

            & > li{
                background: #eee;
                margin-left: 1px;
                text-align: center;
                border-left: 0px;
                display: flex;
                
                &:first-child{
                    margin-left: 0;
                }
                
                a{
                    display: block;
                    padding: 5px 0;
                    width: 100%;
                    align-self: center;
                    text-align: center;
                    color: #000;
                    height: 100%;

                    &:hover{
                        background: white;
                    }
                    &.active, &.active:hover{
                        @extend .nav-active-item;
                    }
                }
            }
        } 
    }
}




/* === Aside nav === */

aside .nav {
    ul{ display: block; }
    li{
        & > a{ 
            position: relative; 
            text-transform: none;

            &.nav-item-parent{
                @extend .arrow-up;
                @extend .upcase;
                background: $gray;
                color: white;
                letter-spacing: 1px; 
            }

            &.active, &.active:hover{
                background: #e0e0e0;
            }
        }
        &:first-child .nav-item-parent{
            &:before, &:after{
                display: none;
            }
        }
        &:first-child, &:first-child > a{
            border-radius: 5px 5px 0 0;
        }
        &:last-child, &:last-child > a{
            border-radius: 0 0 5px 5px;
        }
    }
}



/* === Dropdown == */
.dropdown-menu{
    .Grid-cell{
        .nav{
            li{
                &:last-child{
                    margin: 0;
                }
                a{
                    text-align: left;
                    text-transform: none; 
                    padding: 8px 3px; 
                    &:hover{
                        background: whitesmoke;
                    }
                }    
            }
        }
    }
}
.breadcrumb{
    li{
        position: relative;
        z-index: 5;
        background: $breadcrumb-bg;        
    }

}




/* === Search == */
.inline-search{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    input[type="text"]{
        padding: 6px 12px;
        border-radius: $border-radius-base;
    }
    .btn-search{
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 6px 12px;

        border-radius: 0 $border-radius-base $border-radius-base 0;
    }
}
/* === Hero === */

.hero{
    img{
        width: 100% !important;
        max-width: auto !important;
        height: auto !important;
        max-height: 400px !important;    
    }
}


/* === Content === */
.container-fluid,.container{
    max-width: $container-large-desktop;
    margin-left: auto;
    margin-right: auto;
}
.main-body{
    margin: 20px 0;
}
.landing-copy{
    margin-top: 20px;
}

aside{

    .nav{
        a{
            $bg: #efefef;
            background: $bg;
            margin-bottom:1px; 
            padding-left: 20px;
            padding-right: 20px;
            color: #000;
            &:hover{
                // background: darken($bg, 5%);
            }   
        }
        
    }
}

article{
    .content{
        border: 1px solid $gray;
        background: #f9f9f9;
        padding: 0 20px 10px;
    }
}


